body
{background:#EDEDED;
color:grey;}

.navbar-brand
{margin-left:100px;
margin-top:0px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom: 5px;
font-size: 25px;
background: #0BACA6;
font-family: 'Times New Roman', Times, serif;}

.nav-link
{margin-right:15px;}

.navbar {padding:0px;
background: #ffffff;}

.navbar-light .navbar-brand
{color:snow;}

.card-title
{color:#0BACA6;
font-family: 'Times New Roman', Times, serif;
padding:5px;
}

.card {margin-top:50px}

.list-group-item
{padding-top: 25px;
padding-bottom: 10px;}

#summary {margin-right: 20px;}

.dropdown-item {color: grey}

#fig {border: #0BACA6;
border-width: 2px;
border-style: solid;}

h4 {color: #0BACA6;
text-align: center;
font-family: 'Times New Roman', Times, serif;
padding-top:25px;}

table {margin-top: 10px;
color:#404040;
border:hidden;}

@media only screen and (max-width: 768px)
{
    .nav-link {margin-right:0px;
    margin-left:30px;}
    .navbar {background: #0BACA6;}
    .navbar-nav {background: #ffffff;}
}